*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 80%;
    margin: 0 auto;
    border: 1px solid rgb(237, 237, 253);
}


.wrapper {
    border: 2px solid gray;
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 5px 5px #333232;
    color: #db3d0d;
}
.nav-bar {
    
    list-style-type: none;
    display: flex;
   
   
}

li a {
    display: flex;
    color: rgb(211, 53, 33);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #555;
    color: white;
  }

  #add-chart {
      border-radius: 50px;
  }

  .icon {
    list-style-type: none;
  }
  
  .icon-search {
      display: flex;
      flex-direction: column;
  }

 
#search-button,#search-item {
    background-color: white;
    border: 1px solid white;
    }

    #search-item {
        border-bottom: 1px solid rgb(224, 57, 6);
        transition: width 3s;
        
    }
   .description-img {

    display: flex;
    margin: 15px;

   }
   .description-text {
       display: flex;
       flex-direction: column;
       margin: 15px;
       padding: 15px;
      
   }

   .text-des {
       padding: 15px;
       font-size: 26px;
       color: rgb(92, 18, 18);
       
   }

    #search-item:hover {
        width: 230px;
    }


    #grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        align-content: center;
        
      }

     .grid-item {
        padding: 20px;
        text-align: center;
        margin: 10px;
      }
       


      .description-img {
          margin: 25px;
      }


      footer {
          background-color: rgb(36, 37, 37);
          text-align: center;
          color: white;
           
        }
      .footer-par {
          padding : 5px;
          font-size: 16px;
      }

      #picture {
          height:500px;
      }

      .cart {
        width: 200px;
        height: 150px;
        background-color: rgb(225, 225, 245);
        font-size: 25px;
        box-shadow: 5px 5px 5px #333232;
        padding: 12px;
       margin: 12px;
       border-radius: 12px;
      }


      li {
          list-style-type: none;
      }
    
    @media screen and (max-width:600px) {
        .wrapper {
            flex-direction: column;
        }
        #grid-container {
            display: flex;
            flex-direction: column;
        }
       
    }